<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
	<h1>Woah look at me i made a blog</h1>
	<h2>My latest posts:</h2>
		<% @posts.each do |post| %>
		<div class="blog-posts">
			<h2><%= post.title %></h2>
			<h3>By: <%= post.author %></h3>
		</div>
		<% end %>
	</body>
</html>