<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
	<h1>Woah look at me i made a blog</h1>
	<div class="blog-posts">
		<h2 = "post-title"><%= @post.title %></h2>
		<span><%= link_to "Edit this post", edit_post_path %></span> <br><br>
		<span><%= @post.content %></span>
		<br>
		<br>
		<%= link_to "Back to Blog", posts_path %>
	</div>
	</body>
</html>